{% extends 'generic/object.html' %}
{% load buttons %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% load i18n %}
{% block extra_controls %}
{% endblock %}
{% load render_table from django_tables2 %}
{% block content %}
  <div class="row my-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Software</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope="row">Status</th>
              <td>{% badge object.get_status_display bg_color=object.get_status_color %}</td>
            </tr>
            <tr>
              <th scope='row'>Name</th>
              <td>{% if object.name %}
                {{ object.name|markdown }}
                  {% else %}
                <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}
              </td>
            </tr>
            <tr>
              <th scope='row'>Parent Software</th>
              <td>{% if object.parent_software  %}
                <a href="{% url 'plugins:adestis_netbox_applications:software' object.parent_software.id %}">{{ object.parent_software.name|markdown }}</a>
                  {% else %}
                <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}
              </td>
            </tr>
            <tr>
              <th scope='row'>Description</th>
              <td>{% if object.description %}
                {{ object.description|markdown }}
                  {% else %}
                <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Approval Status</th>
              <td>{% badge object.get_approval_status_display bg_color=object.get_approval_status_color %}</td>
            </tr>
            <tr>
              <th scope='row'>Approval Info</th>
              <td>{% if object.approval_info %}
                {{ object.approval_info|markdown }}
                  {% else %}
                <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}
              </td>
            </tr>
            <tr>
              <th scope='row'>URL</th>
              <td>{% if object.url %}
                <a href= "{{ object.url }}" target="_blank"> {{ object.url|markdown }}</a>
                  {% else %}
                <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}
              </td>
            </tr>
            <tr>
              <th scope='row'>Manufacturer</th>
              <td>{% if object.manufacturer %}
                <a href="{% url 'dcim:manufacturer' object.manufacturer.id %}"> {{ object.manufacturer.name|markdown }}</a>
                  {% else %}
                <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
      {% if software_versions %}
      <div class="card mt-3">
        <h5 class="card-header">Software Versions</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Version</th>
                <th>Approval Status</th>
              </tr>
            </thead>
            <tbody>
              {% for sv in software_versions %}
              <tr>
                <td><a href="{{ sv.get_absolute_url }}">{{ sv.name }}</a></td>
                <td>{{ sv.version }}</td>
                <td>{% badge sv.get_approval_status_display bg_color=sv.get_approval_status_color %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
      {% plugin_right_page object %}
    </div>
  </div>
{% endblock content %}