{% extends 'generic/object.html' %}
{% load buttons %}
{% load static %}
{% load helpers %}
{% load plugins %}
{% load i18n %}
{% block extra_controls %}
{% endblock %}
{% load render_table from django_tables2 %}
{% block content %}
  <div class="row my-3">
    <div class="col col-md-6">
      <div class="card">
        <h5 class="card-header">Software Version</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <tr>
              <th scope='row'>Name</th>
              <td>{% if object.name %}
                {{ object.name|markdown }}
                  {% else %}
                <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}
              </td>
            </tr>
            <tr>
              <th scope='row'>Software</th>
              <td>{% if object.software %}
                <a href="{{ object.software.get_absolute_url }}">{{ object.software.name|markdown }}</a>
                  {% else %}
                <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}
              </td>
            </tr>
            <tr>
              <th scope='row'>Version</th>
              <td>{% if object.version %}
                {{ object.version|markdown }}
                  {% else %}
                <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">Approval Status</th>
              <td>{% badge object.get_approval_status_display bg_color=object.get_approval_status_color %}</td>
            </tr>
            <tr>
              <th scope='row'>Approval Info</th>
              <td>{% if object.approval_info %}
                {{ object.approval_info|markdown }}
                  {% else %}
                <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}
              </td>
            </tr>
            <tr>
              <th scope='row'>Description</th>
              <td>{% if object.description %}
                {{ object.description|markdown }}
                  {% else %}
                <span class="text-muted">{% trans "None" %}</span>
                  {% endif %}
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col col-md-6">
      {% include 'inc/panels/custom_fields.html' %}
      {% include 'inc/panels/tags.html' %}
      {% if installed_applications %}
      <div class="card mt-3">
        <h5 class="card-header">Applications</h5>
        <div class="card-body">
          <table class="table table-hover attr-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Approval Status</th>
              </tr>
            </thead>
            <tbody>
              {% for app in installed_applications %}
              <tr>
                <td><a href="{{ app.get_absolute_url }}">{{ app.name }}</a></td>
                <td>{{ app.status }}</td>
                <td>{% badge sv.get_approval_status_display bg_color=app.get_approval_status_color %}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
      {% plugin_right_page object %}
    </div>
  </div>
{% endblock content %}